<div class="container">
  <h1>Breakingbad Characters</h1>

  <div class="character__container" *ngIf="characters$ | async as characters; else loading">


    <div class="row">
      <div *ngFor="let character of characters" class="col-md-4 col-sm-6 card__margin">
        <div class="card">
          <img [src]="character.img.trim()" default="assets/images/no-image.png" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ character.name }}</h5>
            <p class="card-text">Known as {{ character.nickname }}</p>
            <p class="card-text"><small class="text-muted">{{ character.portrayed }}</small></p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <ng-template #loading>
    <div class="">
      Loading...
    </div>
  </ng-template>

</div>